@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color:#8b8888;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  color:#fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4d4f4cc0;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
.seattype-container {
  margin-top: 20px;
}

#seat-type-counts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

.count-btn {
  background-color: #4d4f4cc0;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

#full-seat-count,
#half-seat-count {
  margin: 0 5px;
  font-size: 16px;
}

#seat-type-counts button:hover {
  background-color: #3c3e3ebf;
}
.seat {
  background-color: #fff;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #008000;
}

.seat.sold {
  background-color: #4d4f4c;
}

.seat:nth-of-type(4) {
  margin-right: 18px;
}

.seat:nth-last-of-type(4) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #f4efef;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: #008000;
}

/* Tablet and Mobile styles */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; 
  }

  .seat {
    height: 20px; 
    width: 24px; 
    font-size: 30px; 
    margin: 2px; 
  }

  .container {
    margin-bottom: 20px; 
  }

  .screen {
    height: 90px; 
    margin: 10px 0; 
  }

  .showcase {
    padding: 3px 6px;
  }

  .showcase li {
    margin: 0 5px; 
  }

  p.text {
    font-size: 14px; 
  }
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .seat {
    height: 12px; 
    width: 13px; 
    font-size: 24px; 
    margin: 1px; 
  }

  .container {
    margin-bottom: 10px; 
  }

  .screen {
    height: 60px; 
    margin: 5px 0; 
  }

  .showcase {
    padding: 2px 4px; 
  }

  .showcase li {
    margin: 0 3px;
  }

  p.text {
    font-size: 12px; 
  }
}
